:host {
  perspective: 2000px;
}

.card {
  width: 18rem;
  height: 26rem;

  &__winner {
    background-color: var(--main-color);
    animation: 0.5s linear 0s infinite alternate pulseAnimation;
  }

  &__rotate {
    animation: rotateAnimation 3s linear infinite;
    background: lightgrey;
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes pulseAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
