<mat-card [ngClass]="{ winner: +data.mass > +rival.mass }">
  <mat-card-header>
    <mat-card-title>{{ data.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item> Mass: {{ data.mass }} </mat-list-item>
      <mat-list-item> Gender: {{ data.gender }} </mat-list-item>
      <mat-list-item> Skin Color: {{ data.skin_color }} </mat-list-item>
      <mat-list-item> Hair Color: {{ data.hair_color }} </mat-list-item>
      <mat-list-item> Birth Year: {{ data.birth_year }} </mat-list-item>
      <mat-list-item> Height: {{ data.height }} </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
