<mat-card [ngClass]="{ winner: +data.crew > +rival.crew }">
  <mat-card-header>
    <mat-card-title>{{ data.name }}</mat-card-title>
    <mat-card-subtitle>{{ data.model }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item> Crew: {{ data.crew }} </mat-list-item>
      <mat-list-item> MGLT: {{ data.MGLT }} </mat-list-item>
      <mat-list-item>
        Cost In Credits: {{ data.cost_in_credits }}
      </mat-list-item>
      <mat-list-item>
        Hyperdrive Rating: {{ data.hyperdrive_rating }}
      </mat-list-item>
      <mat-list-item> Starship Class: {{ data.starship_class }} </mat-list-item>
      <mat-list-item> Cargo Capacity: {{ data.cargo_capacity }} </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
