/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: yellow;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: black;
}
h1,
h2 {
  color: var(--main-color);
  font-family: 'Soloist', sans-serif;
  line-height: 110%;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 2rem !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
